@{
    if (Model != null)
    {
        ViewData["Title"] = @Model.Name;
    }
    else
    {
        ViewData["Title"] = "Хинкали";
    }
}

<div class="jumbotron mt-2">
    <div class="card text-center mt-5">
        <div class="card" style="max-width: 1300px;">
            <div class="row">
                @{
                    if (Model != null)
                    {
                        <div class="col-md-6">
                            <img src="~/images/@Model.Image" style="height: 100%;" class="img-fluid rounded-start" alt="">
                        </div>
                        <div class="col-md-6">
                            <div class="card-body my-5">
                                <h3 class="card-title">@Model.Name</h3>
                                <h5 class="card-title">Состав:</h5>
                                <p class="card-text">@Model.Compound</p>
                                <p class="card-text"><small class="text-muted">Кол-во: @Model.Amount шт. &ensp; Начинка: @Model.Filling</small></p>
                                <div class="d-flex justify-content-between align-items-center mt-3">
                                    <h3>Цена: @Model.Cost₽</h3>
                                    <a href="#" class="btn btn-outline-success float-right">В корзину</a>
                                </div>
                            </div>
                        </div>
                    }
                }
            </div>
        </div>
    </div>
</div>