@{
    if (Model != null)
    {
        ViewData["Title"] = @Model.Name;
    }
    else
    {
        ViewData["Title"] = "Хинкали";
    }
}
﻿@using System.Net.Http
@using Khinkali.Utility
@using Microsoft.AspNetCore.Http
@inject IHttpContextAccessor HttpContextAccessor
@{
    List<Product> products = HttpContextAccessor.HttpContext.Session.Get<List<Product>>("products");
    Product product = null;
    if (products != null)
    {
        product = products.FirstOrDefault(c => c.Id == Model.Id);
    }
}
<div class="jumbotron mt-2">
    <div class="card text-center mt-5">
        <div class="card" style="max-width: 1300px;">
            <div class="row">
                @{
                    if (Model != null)
                    {
                        <div class="col-md-6">
                            <img src="@Model.Image" style="height: 100%; width: 100%;" class="img-fluid rounded-start" alt="">
                        </div>
                        <div class="col-md-6">
                            <div class="card-body my-5">
                                <h1 class="card-title">@Model.Name</h1>
                                <p class="card-text"><b>Состав:</b> @Model.Compound</p>
                                <p class="card-text"><b>Вес:</b> @Model.Amount гр. &ensp; <b>Начинка:</b> @Model.Filling</p>
                                <div class="d-flex justify-content-between align-items-center mt-3">
                                    <h2>Цена: @Model.Cost₽</h2>
                                    @if (product == null)
                                    {
                                        <a asp-controller="Khinkali" asp-action="AddToCart" asp-route-id=@Model.Id class="btn btn-outline-success float-right">В корзину</a>
                                    }
                                    else
                                    {
                                        <a asp-action="Remove" asp-controller="Home" asp-route-id="@Model.Id" class="btn btn-outline-danger float-right">Убрать с корзины</a>
                                    }
                                </div>
                            </div>
                        </div>
                    }
                }
            </div>
        </div>
    </div>
</div>