﻿@using Khinkali.Models
@model List<Product>
@{
    ViewData["Title"] = "Корзина";
    string contr = "Home";
}
<br/>
@if (Model.Count == 0)
{
    <div class="jumbotron mt-5">
        <h1 class="text-center">Ваша корзина пуста</h1>
        <div class="col-6 mt-3">
            <a asp-action="Index" asp-controller="Pie" class="btn btn-success">Продолжить покупки</a>
        </div>
    </div>
}

else
{
    <div class="jumbotron mt-5">
        <h1 class="text-center">Ваша корзина</h1>
        <div class="list-group align-middle">
            @foreach (var item in Model)
            {
                <div style="border-radius:10px; padding-left:0;" class="align-middle list-group-item mb-0 list-group-item-action d-flex gap-5 py-3" aria-current="true">
                    <img src="@item.Image" width="100" height="100" class="rounded-circle flex-shrink-0 m-3">
                    <div class="d-flex gap-3 w-100 justify-content-between align-middle">
                        <div>
                            @if (@item.Id > 0 && @item.Id <= 1000) 
                            {
                                contr = "Pie";
                            }
                            else if (@item.Id > 1000 && @item.Id <= 2000)
                            {
                                contr = "Khinkali";
                            }
                            else
                            {
                                contr = "Drink";
                            }
                            <a asp-action="About" asp-route-id=@item.Id asp-controller="@contr"><h4 class="m-3 ssilka">@item.Name</h4></a>
                            <p class="m-3 opacity-75">Кол-во: &nbsp; &nbsp;
                                <a asp-controller="Home" asp-action="Minus" asp-route-id=@item.Id>
                                    <span class="product-minus">
                                        <img src="https://static.tildacdn.com/lib/linea/c8eecd27-9482-6c4f-7896-3eb09f6a1091/arrows_circle_minus.svg" style="width:16px;height:16px;border:0">
                                    </span>
                                </a>
                                <span class="product-quantity">
                                    <input type="number" disabled class="chislo" style="width:35px; text-align:center;" value="@item.Amount"/>
                                </span>
                                <a asp-controller="Home" asp-action="Plus" asp-route-id=@item.Id>
                                    <span class="product-plus">
                                        <img src="https://static.tildacdn.com/lib/linea/c47d1e0c-6880-dc39-ae34-521197f7fba7/arrows_circle_plus.svg" style="width:16px;height:16px;border:0">
                                    </span>
                                </a>
                                 шт.
                            </p>
                            <input type="hidden" value="@item.Sum" id="product_input_price">
                            <p class="m-3 opacity-75 product-price">Стоимость: @item.Sum₽</p>
                        </div>
                        <a asp-action="Remove" asp-controller="Home" asp-route-id="@item.Id" style="padding-right: 10px;" class="close">
                            <span>&times;</span>
                        </a>
                    </div>
                </div>
            }
        </div>
        <div class="row mt-3">
            <div class="col-6">
                <a asp-action="Index" asp-controller="Pie" class="btn btn-success">Продолжить покупки</a>
            </div>
            <div class="col-6 text-right">
                <h3>Сумма: @Model.Sum(c=>c.Sum)₽ </h3>
                <a asp-action="Checkout" asp-controller="Order" class="btn btn-info">Заказать</a>
            </div>
        </div>
    </div>
}