@{
    if (Model != null)
    {
        ViewData["Title"] = @Model.Name;
    }
    else
    {
        ViewData["Title"] = "Напитки";
    }
}
﻿@using System.Net.Http
@using Khinkali.Utility
@using Microsoft.AspNetCore.Http
@inject IHttpContextAccessor HttpContextAccessor
@{
    List<Product> products = HttpContextAccessor.HttpContext.Session.Get<List<Product>>("products");
    Product product = null;
    if (products != null)
    {
        product = products.FirstOrDefault(c => c.Id == Model.Id);
    }
}
<div class="jumbotron mt-2">
    <div class="card text-center mt-5">
            <div class="card" style="max-width: 1300px;">
                <div class="row">
                    @{
                        if (Model != null)
                        {
                            <div class="col-md-6">
                                <img src="~/images/@Model.Image" style="height: 100%;" class="img-fluid rounded-start" alt="">
                            </div>
                            <div class="col-md-6">
                                <div class="card-body my-5">
                                    <h1 class="card-title">@Model.Name</h1>
                                    <p class="card-text">Объём: @Model.Volume мл.</p>
                                    <div class="d-flex justify-content-between align-items-center mt-3">
                                        <h2>Цена: @Model.Cost₽</h2>
                                        @if (product == null)
                                        {
                                            <a asp-controller="Drink" asp-action="AddToCart" asp-route-id=@Model.Id class="btn btn-outline-success float-right">В корзину</a>
                                        }
                                        else
                                        {
                                            <a asp-action="Remove" asp-controller="Home" asp-route-id="@Model.Id" class="btn btn-outline-danger float-right">Убрать с корзины</a>
                                        }
                                    </div>
                                </div>
                            </div>
                        }
                    }
                </div>
        </div>
    </div>
</div>